* {
  box-sizing: border-box;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: brown;
  text-align: center;
  background-image: url('./img/andes.jpg');
  background-position: center;
}

body {
  background-color: lightgoldenrodyellow;
}

p {
  font-size: 14px;
}

.btn-img {
  max-width: 20px;
}

.btn {
  margin-top: 20px;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 2px black solid;
  border-radius: 4px; 
  display: inline-block;
}