* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: brown;
  text-align: center;
  background-image: url('./img/andes.jpg');
  background-position: center;
}

body {
  background-color: lightgoldenrodyellow;
}

p {
  font-size: 14px;
}

.btn-img {
  max-width: 20px;
}

.btn {
  margin-top: 20px;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 2px black solid;
  border-radius: 4px; 
  display: inline-block;
}

.img-container img {
  display: inline-block;
  max-width: 20%;
}

.logo-container {
  width: 50px;
  float: left;
}

.logo-container img {
  display: block;
}

.header {
  background-color: rebeccapurple;
  padding: 1rem;
  height: 70px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.main {
  position: none;
}

.nav {
  float: right;
}

.nav ul {
  list-style: none;
  margin-top: 10px;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: white;
  padding-top: ;
  transition: all 300ms;
}

.nav a:hover {
  background-color: lightgoldenrodyellow;
  color: rebeccapurple;
}